.map {
	width: 100%;
	height: calc(100% - 100px);
	float: left;
	border: solid 1px Black;
}

#app-container {
	position: absolute;
	top: 120px;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
}

body {
	margin: 0;
}

#geoform {
	position: absolute;
	width: 300px;
	left: calc(50% - 150px);
	top: 230px;
	z-index: 1;
}

#geoform input {
	width: 240px;
	height: 46px;
	line-height: 40px;
	font-size: 36px;
	opacity: 0.8;
}

#geoform input:focus {
	opacity: 1;
}

#geoform button {
	height: 46px;
	vertical-align: top;
	margin-left: -4px;
}

#top-panel {
	height: 100px;
}

.choice {
	cursor: pointer;
	float: left;
	display: inline-block;
	width: 33%;
	text-align: center;
	/*border-bottom: solid 1px Black;*/
	padding-bottom: 10px;
}
.choice-active {
	border-bottom: solid 3px Red;
}
.choice-header {
	text-transform: capitalize;
	font-size: 32px;
}
.choice-subtext {
	font-size: 16px;
	color: #CC0000;
}

#tooltip-panel {
	width: 200px;
	position: absolute;
	right: 20px;
	top: 120px;
	min-height: 50px;
	background-color: white;
	opacity: 0.9;
	padding: 10px;
}


.spinning {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.tt-dropdown-menu {
	/*width: 422px;*/
	margin-top: 12px;
	padding: 8px 0;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
	padding: 3px 20px;
	font-size: 18px;
	line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor {
	color: #fff;
	background-color: #0097cf;
}
#bandeau {
		background-color: #333;
		position: absolute;
		height: 120px;
		top: 0;
		padding: 20px;
}
.bandeau-title {
	font-size: 24px;
	color: #eee;

}
.subtext {
font-size: 24px;
	color: #ccc;
	display: inline-block;
	float: left;
	width: 300px;
}
.chapo {
color: #ccc;
display: inline-block;
width: calc(100% - 300px);
}