<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>enjeux</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <link rel="stylesheet" href="vendor/leaflet/leaflet.css">
    </head>
    <body ng-app="enjeux" ng-controller="MainCtrl">

        <div id="bandeau">
            <div class="bandeau-title">Municipales 2014</div>
            <div class="subtext">Comment va ma ville ?</div>
            <div class="chapo">
            A la veille des municipales, comment se porte ma ville en termes d'emploi, de sécurité et de dépenses publiques. Les trois préoccupations principales des Français pour ces élections <a target="_blank" href="http://www.scribd.com/doc/132787422/Etude-Harris-Interactive-Les-Francais-et-les-municipales">selon un sondage Harris Interactive</a>.
            </div>
        </div>
            
        <form ng-submit="search(query.city)" id="geoform">
            <input type="text" id="city-query" autofocus placeholder="Ma ville" ng-model="query.city">
            <button type="submit" class="btn btn-success"><i ng-class="{'glyphicon glyphicon-search': !geocoding, 'glyphicon glyphicon-refresh spinning': geocoding}"></i></button>
        </form>

        <div id="app-container">

            <div id="top-panel">
                <div class="choice-list">
                    <div ng-class="{'choice-active': maps.indicateur.activeTheme == 'emploi'}" class="choice" ng-click="switchTheme('emploi')">
                        <div class="choice-header">Emploi</div>
                        <div class="choice-subtext">Taux de chômage</div>
                    </div>
                    <div ng-class="{'choice-active': maps.indicateur.activeTheme == 'insecurite'}" class="choice" ng-click="switchTheme('insecurite')">
                        <div class="choice-header">Sécurité</div>
                        <div class="choice-subtext">Nombre de crimes et délits constatés</div>
                    </div>
                    <div ng-class="{'choice-active': maps.indicateur.activeTheme == 'endettement'}" class="choice" ng-click="switchTheme('endettement')">
                        <div class="choice-header">Dépenses publiques</div>
                        <div class="choice-subtext">Endettement par habitant</div>
                    </div>
                </div>
            </div>


        
            <div id="map-indicateur" class="map" leaflet-map map-name="indicateur"></div>
            <div id="tooltip-panel" ng-show="tooltipData">
                <dl>
                <dt>Commune</dt>
                <dd>{{ tooltipData.ville }}</dd>
                <dt>Département</dt>
                 <dd>{{ tooltipData.departement}} ({{ tooltipData.codeDepartement }})</dd>
                <dt>Région</dt>
                <dd>{{ tooltipData.region }}</dd>
                <hr />
                <dt style="color: #B70F0A">Moyenne commune</dt> <dd style="color: #B70F0A">{{tooltipNumericData.commune}}</dd>
                <dt>Moyenne département</dt> <dd>{{tooltipNumericData.dept}}</dd>
                <dt>Moyenne région</dt> <dd>{{tooltipNumericData.region}}</dd>

                <p ng-bind="getExplication()" style="color: #333; margin-top: 20px; font-style: italic; font-weight: bold;"></p>

            </div>

        </div>


        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/jquery.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js scripts/plugins.js -->
        <script src="bower_components/bootstrap/js/affix.js"></script>
        <script src="bower_components/bootstrap/js/alert.js"></script>
        <script src="bower_components/bootstrap/js/dropdown.js"></script>
        <script src="bower_components/bootstrap/js/tooltip.js"></script>
        <script src="bower_components/bootstrap/js/modal.js"></script>
        <script src="bower_components/bootstrap/js/transition.js"></script>
        <script src="bower_components/bootstrap/js/button.js"></script>
        <script src="bower_components/bootstrap/js/popover.js"></script>
        <script src="bower_components/bootstrap/js/carousel.js"></script>
        <script src="bower_components/bootstrap/js/scrollspy.js"></script>
        <script src="bower_components/bootstrap/js/collapse.js"></script>
        <script src="bower_components/bootstrap/js/tab.js"></script>
        <!-- endbuild -->

        <script src="bower_components/angular/angular.min.js"></script>
        <script src="vendor/leaflet/leaflet.js"></script>
        <script src="http://twitter.github.com/hogan.js/builds/2.0.0/hogan-2.0.0.js"></script>
        <script src="bower_components/typeahead.js/dist/typeahead.min.js"></script>



        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script src="scripts/geoutils.js"></script>
        <script src="scripts/app.js"></script>
        <!-- endbuild -->

        <script type="text/javascript">
        $(document).ready(function() {
            console.log('c', $('#city-query'));
            $('#city-query').typeahead({                                
                  name: 'cities',                                                          
                  prefetch: 'scripts/cities.json',                            
                  limit: 10,
  //                 template: [
  //   '<p class="repo-language">{{language}}</p>',
  //   '<p class="repo-name">{{name}}</p>',
  //   '<p class="repo-description">{{description}}</p>'
  // ].join(''),
  // engine: Hogan                                                            
                });
        });
        </script>
</body>
</html>
